@font-face {
    font-family: 'Kraskario';
    src: url('kraskario-400-normal.woff2') format('woff2'), url('kraskario-400-normal.woff') format('woff'), url('kraskario-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}