@font-face {
    font-family: 'Gunny Rewritten';
    src: url('gunnyrewritten-400-normal.woff2') format('woff2'), url('gunnyrewritten-400-normal.woff') format('woff'), url('gunnyrewritten-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}