@font-face {
    font-family: 'Kobzar KS';
    src: url('kobzarks-400-normal.woff2') format('woff2'), url('kobzarks-400-normal.woff') format('woff'), url('kobzarks-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}